.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-inline: 1rem;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .spacer {
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
    color: white;
    margin-left: 8px;

    &:hover {
      opacity: 0.85;
    }
  }
}

.content {
  padding: 2rem;
}
